<div class="page __popTarificador">
    <div class="container-fluid bg-secondary-primary text-white">
      <div class="container pt-0 pb-0">
          <div class="">
              <div class="container pb-0">
                  <div class="row align-items-center flex-nowrap">
                      <div class="">
                          <h1 class="mb-2 text-white">Cambiar titulo aqui</h1>
                          <p class="mb-3">Enviar dinero a tus familiares es fácil. Registrate, agrega a tus familiares y envía tus remesas de manera mas fácil.</p>
                          <a routerLink="/realizar-transferencia" class="btn btn-secondary">Enviar dinero ahora</a>
                      </div>
                      <div class="d-flex justify-content-end w-100">
                          <img class="custom-banner-img" src="/assets/images/001.png" alt="Banner hero">
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    
    <div class="container text-center login-container-form my-5 p-5">
        <div class="row">
        <div class="col-4 offset-md-4">
        <main class="form-signin">
          <form [formGroup]="loginForm" (submit)="onSubmit()">
            
            <h1 class="h3 mb-3 fw-normal">Login</h1>
            
        
            <div class="form-group mb-2 ">
                <input formControlName="email" form type="email" name="email" id="inputEmail" class="form-control text-center rounded-re" placeholder="Email" autofocus>
                <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                    <p class="errorText" *ngIf="loginForm.controls['email'].errors.required">
                        Introduce un email
                    </p>
                    <p class="errorText" *ngIf="loginForm.controls['email'].errors.pattern">
                        El email no es Válido
                    </p>
                </div>
            </div>
    
            <div class="form-group mb-2 mt-5">     
                <input formControlName="pwd" type="password" name="pwd" id="inputPassword" class="form-control text-center rounded-re" placeholder="Contraseña">
                <div *ngIf="loginForm.controls['pwd'].invalid && (loginForm.controls['pwd'].dirty || loginForm.controls['pwd'].touched)">
                    <p class="errorText" *ngIf="loginForm.controls['pwd'].errors.required">
                        Introduce una contraseña
                    </p>
                </div>
            </div>
           
        
            <div class="form-group">
        
            <button class=" btn my-3  btn-secondary" type="submit">Entrar</button>
    
            <a href="/recuperar-contrasenia" class="mx-auto d-block">Recuperar Contraseña</a>
    
    
        
            </div>
          </form>
        </main>
        </div>
        </div>
        </div>
</div>