.custom-banner-img{
    max-width: 372px;
}

.gallery {
	display: flex;
	flex-flow: wrap;
	max-width: 70%;
	margin: 0 auto;
}


.gallery img {
	width: 50%;
	flex: 0 0 auto;
	padding: 1rem;
}

.pestana .title a{
	text-decoration: none;
	font-weight: bold;
	color:#4d40ff
}


.pestana.closed .content {
	display: none;
}


footer a,footer ul,footer li{
    color : inherit;
    text-decoration : none;
    list-style : none;
}


input, textarea {
	width: 100%;
	padding: .6rem;
	margin-bottom: 1rem;
	border-radius: 5px;
	outline: none;
	box-shadow: none !important;
	border: 2px solid #cccccc !important;
}

.col-6,.col-12 {
	padding-left: 15px;
	padding-right: 15px;
}

.row.terms * {
	font-size: .7rem !important;
	line-height: .8rem;
	margin: 0;
}


/* testimonials */
.testimonials-container {
	background-color: #f3f6f9;
	border-radius: 10rem;
	padding: 2rem;
}

.testiminails {
	display: flex;
	width: 100%;
	align-items: center;
}

.testimonial {
	flex: 0 0 auto;
	width: 50%;
	padding: 1rem;
	
}
.testimonial .stars {
	color: #FFCE00;
	margin-bottom: 1rem;

}

.testimonial .content > .name {
	font-weight: bold;
	color: #062D75;
	margin-bottom: 1rem;
}