/*

COLORES A USAR : 
--azul: #062D75;
--azul2:#1B3A74;
--gris: #707070;
--secundario: #FFCE00;
--blanco: #FFF;
--negro: #000;
--testinomios:#F5F7FA;
--fuentePrincipal: 'Roboto', sans-serif;
*/

$primary: #062D75;
$secondary_primary: #1B3A74;
$secondary: #FFCE00;
$white: #ffffff;
$black: #000000;
$testimonial: #F5F7FA;
$errorText: red;