<footer>
    <div class="container pb-0">
    <div class="row">
        <div class="col-6">
            <h2>¿Quieres contactarnos?</h2>
            <form [formGroup]="contactForm" (submit)="onSubmit()">

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <input formControlName="nombre_apellidos" name type="text" placeholder="Nombre y apellido">
                            <div *ngIf="contactForm.controls['nombre_apellidos'].invalid && (contactForm.controls['nombre_apellidos'].dirty || contactForm.controls['nombre_apellidos'].touched)">
                                <p class="errorText" *ngIf="contactForm.controls['nombre_apellidos'].errors.required">
                                    Introduce un nombre
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input formControlName="email" type="email" placeholder="Email">
                            <div *ngIf="contactForm.controls['email'].invalid && (contactForm.controls['email'].dirty || contactForm.controls['email'].touched)">
                                <p class="errorText" *ngIf="contactForm.controls['email'].errors.required">
                                    Introduce un email
                                </p>
                                <p class="errorText" *ngIf="contactForm.controls['email'].errors.pattern">
                                    El email no es Válido
                                </p>
                            </div>
                        </div>
                        <div class="col-6">
                            <input formControlName="telefono" name="telefono" type="tel" placeholder="Teléfono">
                            <div *ngIf="contactForm.controls['telefono'].invalid && (contactForm.controls['telefono'].dirty || contactForm.controls['telefono'].touched)">
                                <p class="errorText" *ngIf="contactForm.controls['telefono'].errors.required">
                                    Introduce un número de teléfono
                                </p>
                                <p class="errorText" *ngIf="contactForm.controls['telefono'].errors.pattern">
                                    El teléfono no es válido
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <textarea formControlName="comentario" name="comentario" id="" cols="30" rows="4"></textarea>
                            <div *ngIf="contactForm.controls['comentario'].invalid && (contactForm.controls['comentario'].dirty || contactForm.controls['comentario'].touched)">
                                <p class="errorText" *ngIf="contactForm.controls['comentario'].errors.required">
                                    Por favor, dinos algo :(
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row terms mb-3">
                        <div class="col-12">
                            <label for="terms">
                                <p class="errorText" *ngIf="submitted && contactForm.controls['check'].errors">
                                    Deberías leer y aceptar esto...
                                </p>
                                <input formControlName="check" type="checkbox" id="terms" class="d-inline">  <p class="d-inline mb-2">
                                    ENTIENDO Y ACEPTO el tratamiento de mis datos tal y como se describe anteriormente y se explica con mayor detalle en la <a href="#">Políticas de privacidad. </a>
                                    <br>
                                </p>
                                <p>
                                    Conforme al RGPD y la LOPDGDD, EMPRESA tratará los datos facilitados, con la finalidad de contestar las dudas planteadas a través del presente formulario y facilitar la información solicitada. Siempre que nos lo autorice previamente, enviaremos información relacionada con los servicios ofrecidos por INMOYAEL. Podrá ejercer, si lo desea, los derechos de acceso, rectificación, supresión, y demás reconocidos en la normativa mencionada. Para obtener más información acerca de cómo estamos tratando sus datos, acceda a nuestra Políticas de privacidad.
                                   </p>
                            </label>
                        </div>
                       
                    </div>
                    <div class="row">
                        <button class="btn btn-primary mb-3">Contactar</button>
                    </div>
                </div>


            </form>
        </div>
        <div class="col-6 d-flex align-items-end">
            <img src="/assets/images/footer.png" alt="">
        </div>
    </div>
    </div>
    <div class="container-fluid bg-primary text-white">
        <div class="row">
            <div class="col-12">
                <div class="container py-2">
                    <div class="row">
                        <div class="col-6">
                            <ul class="menu d-flex justify-content-start">
                                <li class="mr-3"><a href="#">Sobre nosotros</a></li>
                                <li class="mr-3"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="mr-3"><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <ul class="menu d-flex justify-content-around">
                                <li class="mr-3"><a href="#">Accesibilidad</a></li>
                                <li class="mr-3"><a href="#">Privacidad</a></li>
                                <li class="mr-3"><a href="#">Acuerdos legales</a></li>
                                <li>&copy; 2021</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</footer>